.env
.env.local
.env.prod

/vendor/
node_modules/

# uploads
/public/uploads/

# Sass cache + sourcemaps
.sass-cache/
public/assets/*.map

# OS
.DS_Store

public/assets/app.css
public/assets/app.css.map

